:root {
    --main-color-text: #212121;
    --second-color-text: #757575;
    --main-nav-color:#2196F3;
    --white-color-text:#FFFFFF;
    --blue-color:#2196F3;
    --second-background-color:#2F303A;
    --active-nav-color:#188CE8;

}

body {
    background-color: E5E5E5;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none ;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.img {
    display: block;
    max-width: 100%;
    height: auto; 
}


img {
    display: block;
    max-width: 100%;
    height: auto; 
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo {
    margin-right: 93px;
}

.logo, .logo-1 {
    color: var(--blue-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Navigation-header */

.nav-item.link.current {
    position: relative;
    color: var(--blue-color);
}
.nav-item.link.current::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:var(--blue-color);
    left: 0;
    bottom: 0;
    transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.nav-item {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

  .nav-item:hover::after {
    display: block;
  }

.nav-item:hover, .nav-item:focus {
    color: var(--main-nav-color);
}


.header {
border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-connect {
    margin-left: auto;
}
.nav-list {
    margin: 0;
    display: flex;
    gap: 50px;
}

.nav-list .link.current {
    color: var(--main-nav-color)
}

.nav-list-on {
    display: flex;
    gap: 30px;
}

.nav-list-on .link.current {
    color: var(--main-nav-color)
}

.nav-on-item{
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color-text);
}
.nav-on-item:hover, .nav-on-item:focus { 
    color: var(--main-nav-color);
    
}
.contacts-li {
    align-items: center;
    justify-content: center;
}
.contacts-li:not(:last-child) {
    margin-right: 50px;
    } 
.contacts-icon {
    margin-right: 10px;
    fill: var(--second-color-text);
}

.contacts-li:hover .contacts-icon,
.contacts-li:focus .contacts-icon {
    fill: var(--main-nav-color);
}

/* Main part*/


.main-cont {
    background: var(--second-background-color);
    padding: 200px 0;
}

 .overlay-one {
    max-width: 1600px;
    max-height: 636px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: url(../images3/Img-title.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat ;  
} 


.main-title {
    margin-top: 0;
    margin-bottom: 30;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color-text);
}
.about-btn {
    color: var(--white-color-text);
    background-color: var(--main-nav-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 50px;
}
.about-btn:hover, .about-btn:focus {
    background-color: #188CE8;
}

/* Features */

.features {
padding-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text);
}
.features-list {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item {
    width: calc((100%-90px)/4);
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;;
    height: 120px;
    margin-bottom: 30px;
}



/* .item:nth-child(1)::before {
    background-image: url(../images3/antenna\ 1-2.jpg);
}

.item:nth-child(2)::before {
    background-image: url(../images3/clock\ 1-2.jpg);
}

.item:nth-child(3)::before {
    background-image: url(../images3/diagram\ 1-2.jpg);
}

.item:nth-child(4)::before {
    background-image: url(../images3/astronaut\ 1-2.jpg);
} */

.feature-list .item {
    width: 300px;
}

.features-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}
/* Hero */

.hero-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.hero-list {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.hero-item {
    width: calc((100% - 60px)/3);
}

.hero-title, .profile-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--main-color-text);
}

.whatwedo-link {
    position: relative;
}

.whatwedo-div {
    position: relative;
    /* overflow: hidden; */
}

.whatwedo-sub-title {
    position: absolute;
    /* display: block; */
    bottom: 0;
    /* top: 0; */
    left: 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-text);
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    margin-bottom: 0;
    margin-top: 0; 
}
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/* Profile */

.profile {
    background: #F5F4FA;
}


.profile-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.profile-list {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    
}

.image-profile {
    width: calc((100% - 90px) / 4);
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.border-profile {
    text-align: center;
    padding: 30px;
} 

.profile-name {
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--main-color-text);
    margin-bottom: 10px;
}

.profile-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    color: var(--second-color-text);
}

.icons-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    padding: 0;
}

.icons-items-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-items-link:hover, .icons-items-link:focus {
 background-color: #2196F3;
}

.icons-items-link:hover .team-sos-icons,
.icons-items-link:focus .team-sos-icons{
    fill: #fff;
   }

.team-sos-icons {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-sos-icons:hover, .team-sos-icons:focus{
    fill: #fff;
}


/* Regular Customers  */

.permanent-clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-bottom: 50px;
    }
    .permanent-clients-list {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    .permanent-clients-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .permanent-clients-icon {
        fill: #AFB1B8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .permanent-clients-link:hover .permanent-clients-icon,
    .permanent-clients-link:focus .permanent-clients-icon {
        fill: var(--main-nav-color);
    }
    
    .permanent-clients-link:hover,
    .permanent-clients-link:focus {
        border: 1px solid var(--main-nav-color);
        fill: var(--main-nav-color);
    }


/* Footer */

.footer {
    background: var(--second-background-color);
    padding: 60px 0;
}
.logo-1 {
    display: flex;
    margin-bottom: 20px;
}

.address {
    font-style: normal;
}
.address-link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mailto-link {
    margin-bottom: 9px;
}

.footer-link {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Find us on - footer*/

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-add-container {
    margin-right: 70px;
}

.footer-social-title {
    padding: 0;
    display: flex;
    justify-content: left;
    text-align: center;
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color-text);
    margin-bottom: 20px;
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: var(--white-color-text);
}


.footer-icon-link:hover .footer-icon,
.footer-icon-link:focus .footer-icon {
    fill: var(--white-color-text);
}


.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--main-nav-color);
}

/* Portfolio */

.portfolio-list {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    justify-content:center;
    gap: 8px;
}

.portfolio-btn, .portfolio-butn {
    cursor: pointer;
}
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color-text);
    background: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 27px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .link.current {
    color: var(--main-nav-color);
}
.portfolio-butn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    padding: 6px 27px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-butn:hover, .portfolio-butn:focus { 
    color: var(--white-color-text);
    background-color: var(--main-nav-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.image-items-list {
    width: calc((100% - 60px) / 3);
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.image-items-list:hover, 
.image-items-list:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text {
    text-align: left;
    padding: 20px 24px;
}

.image-name {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
    
}
.image-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}


/* hover overlay */

.products-top-div {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white-color-text);
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 0;
    background-color: rgba(33, 150, 243, 0.9); 
}

.image-items-list:hover .overlay,
.image-items-list:focus .overlay {
    transform: translate(0, 0);
}


/* Backdrop */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms linear, visibility 300ms linear;
    z-index: 100%;
}

.modal {
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 40px;
}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-btn-close:hover, .modal-btn-close:focus{
    background-color: var(--active-nav-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden  {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn:hover .close-icon-btn,
.modal-close-btn:focus .close-icon-btn {
    fill: var(--acsent-logo-color);
}

.modal-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 35px; 
    /* color: #2196F3; */
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--main-nav-color);
    border: 1px solid var(--main-nav-color);
}

.modal-input:focus + .modal-input-icon {
    fill: var(--main-nav-color);
}

/* .modal-input-comments {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 28px;
} */


.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding:12px 16px ;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition);
    margin-bottom: 20px;
}
.modal-lable-text {
    display: block;    
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-form-comments {
    resize: none;
    width: 100%;
    height: 120px;
    padding:12px 16px ;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    margin-bottom: 20px;
}

.modal-form-comments::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }

.modal-form-comments:focus {
        outline: none;
        border-color: var(--main-nav-color);
    }
    


.modal-wrap {
    position: relative;
    margin-bottom: 10px;
}


/* .term-item {
    margin-top: 0;
    margin-bottom: 5px;
} */

.modal-form-check {
    margin-top: 25px;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-desck {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-weight: 400;
}

.modal-form-check-desck span{
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color-text);
    border-radius: 4px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .modal-form-check-desck span {
    background-color: var(--main-nav-color);
    border-color: transparent;
    fill: var(--white-color-text);
}

.modal-form-check:focus + .modal-form-check-desck span {
    border-color: var(--main-nav-color);
}

.form-police-link {
    color: var(--main-nav-color);
}

/* .modal-form-check-desck::before{
    content:'';
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color-text);
    border-radius: 4px;
    margin-right: 7px;
}

.modal-form-check:checked + .modal-form-check-desck::before {
    background-color: var(--main-nav-color);
    background-image: url(../images/svg/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
} 
 */

.modal-form-submit {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--main-nav-color);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 40px; */
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 55px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover, .modal-form-submit:focus {
    background-color: var(--active-nav-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Email input */

.form-footer-div {
    margin-left: auto;
 }
 
 .form-footer {
     display: flex;
     align-items: center;
 }
 
 
 .form-footer-disc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
 }
 
 .form-footer-input {
     width: 358px;
     height: 50px;
     background-color: #2f303a;
     margin-right: 12px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 16px;
     border-radius: 4px;
     line-height: 1.25;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);}
 
 .form-footer-input::placeholder {
     font-size: 16px;
     line-height: 1.25;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
 }
 

 .form-footer-button-submit {
     color: #ffffff;
     font-size: 16px;
     font-weight: 700;
     line-height: 1.875;
     letter-spacing: 0.06em;
     background-color: var(--blue-color);
     width: 200px;
     height: 50px;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 29px;
     padding-right: 28px;
     cursor: pointer;
     border: none; 
    }

.form-footer-button-submit:hover, .form-footer-button-submit:focus {
       background-color: var(--active-nav-color);
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 
 .form-footer-button-text {
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color-text);
    margin-right: 30px;
 }


 