
body {
    background-color: E5E5E5;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none ;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.img {
    display: block;
    max-width: 100%;
    height: auto; 
}

element.style {
    display: flex;
    padding: 0;
    gap: 30px;  
}
