:root {
    --main-color-text: #212121;
    --second-color-text: #757575;
    --main-nav-color:#2196F3;
    --white-color-text:#FFFFFF;
    --blue-color:#2196F3;
    --second-background-color:#2F303A;
    --active-nav-color:#188CE8;
}

body {
    background-color: E5E5E5;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}