.clients__title {
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
    color: var(--main-color-text);
    margin-bottom: 50px;
    }
.clientes-list {
        display: flex;
        gap: 30px;
        justify-content: center;
    }
.clients-list__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    &:hover,
    &:focus {
        border: 1px solid var(--main-nav-color);
        fill: var(--main-nav-color);
    }
    }
    .clients-list__icon {
        fill: #AFB1B8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .clients-list__link:hover &,
        .clients-list__link:focus & {
        fill: var(--main-nav-color);
    }
    }
    

