

.menu {
    margin: 0;
    display: flex;
    gap: 50px;
    & .link.current {
        color: var(--main-nav-color)
    }
}


.menu__item {
    @include font(500, 14px, 1.14, 0.02em);
    position: relative;
    display: block;
    text-decoration: none;
    padding: 32px 0;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    color: var(--main-color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    &:hover {
        &::after {
            display: block;
        }
    }  
    &:hover, &:focus {
        color: var(--main-nav-color);
    }   
}


.menu__item.link.current {
    position: relative;
    color: var(--blue-color);
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color:var(--blue-color);
        left: 0;
        bottom: 0;
        transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
    }
}

.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
}


.navigation {
    display: flex;
    align-items: center;
}


.connect {
    margin-left: auto;
}

.connect__list {
    display: flex;
    gap: 30px;
    & .link.current {
    color: var(--main-nav-color)
}
}

.connect__contacts {
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
        margin-right: 50px;
        } 
}


.connect__tm {
    @include font(500, 14px, 1.14, 0.02em);
    padding: 32px 0;
    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    color: var(--second-color-text);
    &:hover, &:focus { 
        color: var(--main-nav-color);
        
    }
}


.connect__icon {
    margin-right: 10px;
    fill: var(--second-color-text);
    .connect__contacts:hover &,
    .onnect__contacts:focus & {
    fill: var(--main-nav-color);
}
}
.logo {
    @include font(700, 26px, 1.14);
    margin-right: 93px;
    color: var(--blue-color);
    font-family: 'Raleway', sans-serif;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.14;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

