
.hero-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--main-color-text);
}

.hero-list {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.hero-item {
    width: calc((100% - 60px)/3);
}

.profile-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--main-color-text);
}

.whatwedo-link {
    position: relative;
}

.whatwedo-div {
    position: relative;
}

.whatwedo-sub-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-text);
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    margin-bottom: 0;
    margin-top: 0; 
}