
.main {
    background: var(--second-background-color);
    padding: 200px 0;
}

 .overlay-one {
    max-width: 1600px;
    max-height: 636px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: url(../images3/Img-title.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat ;  
} 


.main__title {
    @include font(900, 44px, 1.4, 0.06em);
    margin-top: 0;
    margin-bottom: 30;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color-text);
}

.main__btn {
    @include font(700, 16px, 1.8, 0.06em);
    background-color: var(--main-nav-color);
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    &:hover, &:focus {
        background-color: #188CE8;
    }
}

.main__btn--light {
    color: var(--white-color-text);
}